
.vs/FacultyVoting/v16/Server/sqlite3/db.lock
.vs/FacultyVoting/v16/.suo
.vs/FacultyVoting/v16/.suo
.vs/FacultyVoting/v16/Server/sqlite3/storage.ide-shm
.vs/FacultyVoting/v16/Server/sqlite3/storage.ide-wal
App_Data/PublishProfiles/PublishToSilver.pubxml
App_Data/PublishProfiles/PublishToSilver.pubxml
.vs/FacultyVoting/v16/.suo
